.about {
    margin-top: 0px;
    padding: 70px;
    padding-bottom: 0px;
    overflow: auto;
}

.about-hr {
    width: 150px;
    border: 2px solid #6250DC;
    margin-left: 100px;
}

h1 {
    font-size: 42px;
    margin: 0px;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 100px;
}

.content {
    display: flex;
    margin: 50px 50px;
}

.text-box {
    flex: 50%;
    text-align: left;
    line-height: 1.5;
    padding-top: 50px;
    margin-left: 45px;
}

.resume-box {
    flex: 50%;
    text-align: center;
    margin-top: 50px;
}

.img-box {
    width: 350px;
    padding: 100px;
    padding-top: 30px;
}

.img-profile {
    display: block;
    width: 260px;
    height: auto;
    border-radius: 50%;
    padding-left: 100px;       /* Affects shape of border */
}

.resume-link {
    color: #94ABD8;
    text-decoration: none;
    font-size: 25px;
    background-color: transparent;
    padding: 20px;
    transition: background 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border: 2px solid #94ABD8;
    border-radius: 50px;
}

.resume-link:hover {
    background-color: #94ABD8;
    border-color: #94ABD8;
    color: #FFFFFF;
}