.contact {
    margin-top: 10px;
    padding: 70px;
    overflow: auto;
}

.contact-h1 {
    font-size: 42px;
    margin: 0px;
    padding-bottom: 5px;
    text-align: center;
}

.contact-hr {
    width: 205px;
    border: 2px solid #6250DC;
}

.content {
    display: flex;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    flex: 50%;
    text-align: center;
    line-height: 1.5;
}

.email-box {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}

.contact-info {
    text-decoration: none;
    font-weight: bold;
    color: #6250DC;
}

svg {
    width: 70px;
    height: 70px;
    margin: 0px 20px;
    fill: #000000;
    transition: 0.4s ease-in-out;
}

svg:hover {
    fill: #94ABD8;
    transform: translateY(-10px);
}