.experience {
    margin-top: 10px;
    padding: 70px;
    overflow: auto;
    background-color: #E7EFFA;
}

.experience-hr {
    width: 275px;
    border: 2px solid #6250DC;
    margin-left: 100px;
}

.content {
    display: flex;
    margin: 50px 50px;
}

.list-header {
    font-weight: bold;
    font-size: 30px;
    color: #100E5E;
}

.skill {
    flex: 50%;
    list-style-type: disc;
    display: grid;
    overflow: visible;
}

.exp-li {
    font-size: 25px;;
    padding-top: 8px;;
    margin-left: 10px;
}

.experience-text {
    flex: 50%;
    padding-top: 50px;
    text-align: left;
    margin-left: 150px;
}